html,
body {
  padding: 0;
  margin: 0;
}

main {
  background: #CDE7ED;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

h1, h2 {
  color: #0B2B5B;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

input,
label,
p {
  color: #0B2B5B;
}

button, 
input,
textarea {
  font-family: inherit;
}

input {
  border: none;
  border-bottom: 1.1px #3A719B solid;
  width: 100%;
}

::placeholder {
  color: #3A719B;
}

* {
  box-sizing: border-box;
}