.container {
  background: #CDE7ED;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
}

.header {
  background: white;
  display: flex;
  flex-direction: column;
  height: 196px;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.header h1 {
  font-size: 30px;
}

.header h2 {
  font-size: 26px;
}

.formPage {
  width: 782px;
  @media only screen and (max-width: 800px) {
    width: 95vw;
  }
}

.formPage h1 {
  font-size: 24px;
  margin-top: 32px;
  text-align: center;
}

.formPage h2 {
  font-size: 20px;
  margin-bottom: 32px;
  text-align: center;
}

.form {
  background-color: white;
  border-radius: 3px;
}

.form form {
  padding: 24px 54px;
}

.formHeader {
  align-items: center;
  display: flex;
  font-weight: 500;
}

.formHeader p {
  background-color: #25A575;
  border-radius: 3px 0 0 0;
  color: white;
  font-size: 26px;
  margin: 0 16px 0 0;
  padding: 16px;
}

.formHeader h1 {
  margin: 0;
  font-size: 20px;
}

.formInputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  @media only screen and (max-width: 575px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.form .fullWidthInput {
  grid-column-start: 1;
  grid-column-end: -1;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.formErrors {
  color: #F37021;
  font-size: 10px;
  margin: 2px;
}

.button {
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 12px;
  text-transform: uppercase;
  width: 100%;
}

.textButton {
  background: none;
  color: #0B2B5B;
}

.submitButton {
  border-radius: 25px;
  background: #0B2B5B;
  color: white;
}