@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-colorPrimary,
.MuiInputLabel-root {
  color: #3a719b;
  font-family: "Montserrat", sans-serif;
}

.MuiInput-root::before,
.MuiInput-root:hover:before {
  border-bottom-color: #3a719b !important; /* override MUI color */
}

.MuiInputLabel-asterisk {
  color: #f37021;
}

/* hide native placeholder text from date input */
input[type="date"][value=""]:not(:focus) {
  color: transparent;
}
